{% extends 'ajudakid/base.html' %}
{%load static%}
{% block content %}
<div class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>Entidades</h2>
                </div>
                <div class="more-projects">
                    <h3 class="text-center">Algumas de nossas parceiras...</h3>
                    <div class="row gallery">
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"><img class="img-fluid scale-on-hover" src="{% static 'ajudakid/img/nature/image2.jpg' %}"></a></div>
                            <div class="item-description">
                                <h3>AMMA Vacaria</h3>
                                <p>Associação de Amparo a Meninos Assistidos</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"><img class="img-fluid scale-on-hover" src="{% static 'ajudakid/img/nature/image3.jpg' %}"></a></div>
                            <div class="item-description">
                                <h3>Amor Horizontal</h3>
                                <p>Doar faz bem para o coração!</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"><img class="img-fluid scale-on-hover" src="{% static 'ajudakid/img/tech/image4.jpg' %}"> </a></div>
                            <div class="item-description">
                                <h3>Instituto da Criança</h3>
                                <p>Garantindo uma vida mais digna</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"><img class="img-fluid scale-on-hover" src="{% static 'ajudakid/img/nature/image5.jpg' %}"></a></div>
                            <div class="item-description">
                                <h3>LALEC</h3>
                                <p>Auxiliando crianças em situação de desamparo!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}