{% extends 'ajudakid/base.html' %}

{% block content %}
    <main class="portfolio-block projects compact-grid">
        <div class="container">
            <h1>{{perfil.nome}}</h1>
            {{perfil.descricao}}
            <br>
            {%if endereco %}
            Endereço: {{endereco}}<br>
            {%endif%}
            Contato: {{perfil.email}}
            <h2>Interesses de Apoio</h2>
            <ul>
                {% for interesse in perfil.interesses.all %}
                    <li>{{interesse}}</li>
                {% endfor %}
            </ul>
            {% if perfil.badges %}
                <h2>Insígnias</h2>
                <div style="display: flex flex-direction: row">
                    {% for badge in perfil.badges.all %}
                        <div style="display: flex flex-direction: column flex:1">
                            <img src='{{badge.icone.url}}' height="200" width="200"/>
                            <span style="font-size: 24px; font-weight: bold">{{badge.nome}}:</span>
                            <span style="font-size: 16px;">{{badge.descricao}}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if user.is_authenticated and perfil.id == user.apoiador.id and parceiros %}
                <div>
                    <h2>Instituições para contribuir!</h2>
                    <ul>
                        {% for ong in parceiros %}
                            <li><a href="{% url 'match:perfil' 'entidade' ong.id %}">{{ong}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if instituicoes_apoiadas %}
                <div>
                    <h2>Instituições já apoiadas!</h2>
                    <ul>
                    {% for instituicao in instituicoes_apoiadas %}
                        <li><a href="{% url 'match:perfil' 'entidade' instituicao.id %}">{{instituicao}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <h2>Ações efetuadas</h2>
            {% for acao in perfil.acoes.all %}
                {{acao}}
            {% endfor %}
        </div>
    </main>
{% endblock content %}