{% extends 'ajudakid/base.html' %}
{% load static %}
{% block content %}
<div class="cv-page">
    <section class="portfolio-block block-intro border-bottom"><img src="{% static 'ajudakid/img/logo%201.png' %}">
                <div class="container">
                    <div class="about-me">
                        <p>Quem Somos?</p>
                    </div>
                </div>
            </section>
            <section class="portfolio-block cv">
                <div class="container">
                    <div class="work-experience group">
                        <div class="heading">
                            <h2 class="text-center">A Equipe Tiltaps v2</h2>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Diego Cardoso Nunes</h3>
                                    <h4 class="organization">Developer</h4>
                                </div>
                                <div class="col-md-6"><span class="period">10/2013 - 04/2015</span></div>
                            </div>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-6">
                                    <h3>Eduardo Chedid Ribeiro</h3>
                                    <h4 class="organization">Sonequinha</h4>
                                </div>
                                <div class="col-md-6"><span class="period">05/2015 - 12/2017</span></div>
                            </div>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Luís Eduardo Borges</h3>
                                    <h4 class="organization">Quebra-galho</h4>
                                </div>
                                <div class="col-md-6"><span class="period">12/2017 - Present</span></div>
                            </div>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>William Rangel</h3>
                                    <h4 class="organization">Cara dos Designs</h4>
                                </div>
                                <div class="col-md-6"><span class="period">10/2013 - 04/2015</span></div>
                            </div>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>
                        </div>
                    </div>

                    <div class="education group">
                        <div class="heading">
                            <h2 class="text-center">Agradecimentos</h2>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Ricardinho Santos</h3>
                                    <h4 class="organization">Professor IFRS</h4>
                                </div>
                                <div class="col-6"><span class="period">09/2005 - 05/2010</span></div>
                            </div>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Remor Tadela</h3>
                                    <h4 class="organization">Professor IFSul</h4>
                                </div>
                                <div class="col-md-6"><span class="period">09/2010 - 06/2015</span></div>
                            </div>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>
                        </div>
                    </div>

                   
                    <div class="hobbies group">
                        <div class="heading">
                            <h2 class="text-center">Hobbies</h2>
                        </div>
                        <p class="text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus ligula, iaculis ut metus sit amet, luctus pharetra mauris. Aliquam purus felis, pretium vel pretium vitae, dapibus sodales ante. Suspendisse potenti. Duis nunc eros.</p>
                    </div>
                </div>
            </section>
        </div>
{% endblock content %}